<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>camera view</title>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <!-- <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script> -->
    <!-- http://192.168.0.207:8091/?action=snapshot -->
</head>
<body>
    <h1>camera</h1>
    <img id="camstreaming" src="http://192.168.0.207:8091/?action=stream" alt="카메라가 꺼져있습니다."></img>
    <input type="button" value="로그아웃" onclick="history.back();">
    <h1 id="temphum" name="temphum">0</h1>
    <h1 id="handle" name="handle">stop</h1>
    <button type="button" id="go_btn" name="go_btn">go</button>
    <button type="button" id="right_btn" name="right_btn">right</button>
    <button type="button" id="back_btn" name="back_btn">back</button>
    <button type="button" id="left_btn" name="left_btn">left</button><br>

    <button type="button" id="save">사진 캡처</button>
    <button type="button" id="temp" onclick="">온도측정</button>

    <script type="text/javascript">
        var goEle = document.querySelector('#go_btn');
        var rightEle = document.querySelector('#right_btn');
        var backEle = document.querySelector('#back_btn');
        var leftEle = document.querySelector('#left_btn');
        var isPressed = false;

        goEle.addEventListener('mouseup', function(event){
            isPressed = false;
            document.getElementById("handle").innerHTML = "stop";
            $.ajax(
                {
                    type:"GET",
                    url:"/stop"
                }
            )
        })
        goEle.addEventListener('mousedown', function(event){
            isPressed = true;
            document.getElementById("handle").innerHTML = "go";
            $.ajax(
                {
                    type:"GET",
                    url:"/go"
                }
            )
        })

        rightEle.addEventListener('mouseup', function(event){
            isPressed = false;
            document.getElementById("handle").innerHTML = "stop";
            $.ajax(
                {
                    type:"GET",
                    url:"/stop"
                }
            )
        })
        rightEle.addEventListener('mousedown', function(event){
            isPressed = true;
            document.getElementById("handle").innerHTML = "right";
            $.ajax(
                {
                    type:"GET",
                    url:"/right"
                }
            )
        })

        backEle.addEventListener('mouseup', function(event){
            isPressed = false;
            document.getElementById("handle").innerHTML = "stop";
            $.ajax(
                {
                    type:"GET",
                    url:"/stop"
                }
            )
        })
        backEle.addEventListener('mousedown', function(event){
            isPressed = true;
            document.getElementById("handle").innerHTML = "back";
            $.ajax(
                {
                    type:"GET",
                    url:"/back"
                }
            )
        })

        leftEle.addEventListener('mouseup', function(event){
            isPressed = false;
            document.getElementById("handle").innerHTML = "stop";
            $.ajax(
                {
                    type:"GET",
                    url:"/stop"
                }
            )
        })
        leftEle.addEventListener('mousedown', function(event){
            isPressed = true;
            document.getElementById("handle").innerHTML = "left";
            $.ajax(
                {
                    type:"GET",
                    url:"/left"
                }
            )
        })
    </script>


    <!-- <script>
        // 비동기 post 방식으로 '/'호출 하여 데이터 받아서 제이쿼리로 반영하기.
        //시간별로 여러번 호출하는 함수는 setInterval();
        $(document).ready(function() {
            setInterval("getTempHum()", 1000); // 3000ms(3초)가 경과하면 ozit_timer_test() 함수를 실행합니다.
        });

        function getTempHum(){
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function() {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    console.log(xmlHttp.responseText);
                    document.getElementById("temphum").innerHTML = xmlHttp.responseText;
            }
            xmlHttp.open("GET", "/temphum", true); // true for asynchronous 
            xmlHttp.send(null);
        }
    </script> -->

    <script>
        $(document).ready(() =>{
            $(document).ready(function() {
            setInterval(function(){
                $.ajax(
                {
                    type:"GET",
                    url:"/temphum",
                    data:{},
                    dataType:"text",
                    success:function(data){
                        $("#temphum").html(data);
                    },
                    error:function(){
                        alert('통신실패!');
                    }
                }
            )
            }, 1000);
        });
            
        })        
    </script>
     <script>
        $('#save').click(() => {
            img=document.createElement("img");
            img.src="http://192.168.0.207:8091/?action=snapshot";
            document.body.appendChild(img);
        });
    </script>
</body>
</html>